@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,600);
.notifications {
  position: fixed;
  z-index: 5000;
  max-width: 100%;
  top: 49px !important;
}
.notification-wrapper {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
.notification {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  text-align: left;
}
.notification-title {
  font-weight: 600;
}
.vue-notification {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 10px;
  padding: 0.625rem;
  margin: 0 10px 5px;
  margin: 0 0.625rem 0.3125rem;
  color: white;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
}
.vue-notification.warn {
  background: #ffb648;
  border-left-color: #f48a06;
}
.vue-notification.error {
  background: #E54D42;
  border-left-color: #B82E24;
}
.vue-notification.success {
  background: #2d8647;
  border-left-color: #28673a;
}
.vn-fade-enter-active, .vn-fade-leave-active, .vn-fade-move {
  -webkit-transition: all .5s;
  transition: all .5s;
}
.vn-fade-enter, .vn-fade-leave-to {
  opacity: 0;
}

.card {
  padding: 10px 0 0 10px;
  padding: 0.625rem 0 0 0.625rem;
}
.card__game {
  max-width: 400px;
  max-width: 25rem;
  margin: 0 auto;
}
.card__table {
  padding-right: 10px;
  padding-right: 0.625rem;
  max-width: 400px;
  max-width: 25rem;
  margin: 0 auto;
}
.card__table .card--content {
    margin: 0 -15px;
    margin: 0 -0.9375rem;
}
.card--container {
  padding: 15px;
  padding: 0.9375rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.card__game-focused .card--container {
    background-color: #fff6bf;
}
.card__game-voting-closed .card--container {
    background-color: #dde9f5;
}
.card--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  font-weight: 600;
}
.card__group .card--header {
    padding-bottom: 15px;
    padding-bottom: 0.9375rem;
    text-align: center;
}
.card__top10 .card--header {
    padding-bottom: 14px;
    padding-bottom: 0.875rem;
}
.card--title {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.card--link {
  display: inline-block;
  padding: 1px 0;
  padding: 0.0625rem 0;
  font-size: 14px;
  font-size: 0.875rem;
  white-space: nowrap;
}

.game-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
}
.game-header--date {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.game-header--day {
  white-space: nowrap;
}
.game-teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 10px;
  padding: 1rem 0 0.625rem;
  font-size: 14px;
  font-size: 0.875rem;
}
.game-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 40px)/2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.game-team--name {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 5px;
  padding-right: 0.3125rem;
}
.game-team__reverse .game-team--name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: right;
    padding-right: 0;
    padding-left: 5px;
    padding-left: 0.3125rem;
}
.game-team--image-wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-right: 8px;
  padding-right: 0.5rem;
}
.game-team__reverse .game-team--image-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 0;
    padding-left: 8px;
    padding-left: 0.5rem;
}
.game-team--image {
  width: 30px;
  width: 1.875rem;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.game-team--image__empty {
  height: 30px;
  height: 1.875rem;
}
.game-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  width: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.game-result {
  width: calc((100% - 8px)/2);
  text-align: right;
}
.game-result ~ .game-result {
    text-align: left;
}
.game-result--spacer {
  width: 8px;
  width: 0.5rem;
  padding: 0 1px;
  padding: 0 0.0625rem;
  text-align: center;
}

.vote {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}
.vote-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.vote--control {
  width: calc((100% - 56px)/2);
}
.vote--control--input input {
  height: 42px;
  height: 2.625rem;
  padding: 0 10px;
  padding: 0 0.625rem;
  -moz-appearance: textfield;
  color: #000;
  font-weight: 600;
  background-color: #fafafa;
  border: 1px solid #b5b5b5;
}
.vote--control--input input::-webkit-outer-spin-button, .vote--control--input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.vote--control--input input::-webkit-input-placeholder {
    color: #a1a1a1;
    font-weight: 400;
}
.vote--control--input input:-ms-input-placeholder {
    color: #a1a1a1;
    font-weight: 400;
}
.vote--control--input input::-ms-input-placeholder {
    color: #a1a1a1;
    font-weight: 400;
}
.vote--control--input input::placeholder {
    color: #a1a1a1;
    font-weight: 400;
}
.vote--control ~ .vote--control .vote--control--input input {
    text-align: right;
}
.vote--control--input input.has-error {
    -webkit-box-shadow: inset -2px -2px 0px #c21429, inset 2px 2px 0px #c21429;
            box-shadow: inset -2px -2px 0px #c21429, inset 2px 2px 0px #c21429;
}
@media only screen and (min-width: 25em) {
.vote--control--input input {
      padding: 0 20px;
      padding: 0 1.25rem;
}
}
@media only screen and (min-width: 40em) and (max-width: 43.6875em) {
.vote--control--input input {
      padding: 0 10px;
      padding: 0 0.625rem;
}
}
.vote--spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  width: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.game-votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 12px;
  margin-top: 0.75rem;
  height: 10px;
  height: 0.625rem;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.game-votes--win {
  background-color: #bcdea2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.game-votes--draw {
  background-color: #ffd39f;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.game-votes--lose {
  background-color: #cb7680;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.vote--button {
  width: 100%;
  padding: 12px 15px;
  padding: 0.75rem 0.9375rem;
}
.vote--button.button {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.voting-closed {
  margin-top: 5px;
  margin-top: 0.3125rem;
  color: #fff;
  background-color: #4299c1;
  border-radius: 3px;
}
.voting-closed--info {
  padding: 10px;
  padding: 0.625rem;
}
.voting-closed--info div {
    font-weight: 600;
}
.voting-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}
.voting-user--result {
  width: calc((100% - 56px)/2);
  padding-left: 21px;
  padding-left: 1.3125rem;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
}
.voting-user--result ~ .voting-user--result {
  padding-left: 0;
  padding-right: 22px;
  padding-right: 1.375rem;
  text-align: right;
}
.voting-points {
  padding: 10px;
  padding: 0.625rem;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-top: 1px solid #248cb2;
  border-radius: 0 0 3px 3px;
}
.voting-points--result {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
}
.voting-points--result span {
    cursor: help;
}
.voting-points--result__match {
  color: #51832a;
}
.voting-points--result__tendency {
  color: #bf580c;
}
.voting-points--result__lose {
  color: #a61123;
}

label {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.input {
  position: relative;
}
.input-icon--wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 65px;
  width: 4.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (max-width: 24.9375em) {
.support-box .input-icon--wrapper {
      width: 50px;
      width: 3.125rem;
}
}
.input-icon {
  color: #686868;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
input:focus + .input-icon--wrapper > .input-icon {
    color: #c21429;
}
input {
  display: block;
  width: 100%;
  height: 62px;
  height: 3.875rem;
  padding: 0 30px;
  padding: 0 1.875rem;
  font-size: 18px;
  font-size: 1.125rem;
  color: #686868;
  background: #e6e6e6;
  border: none;
  border-radius: 3px;
  outline: none;
}
input.has-icon {
    padding: 0 30px 0 65px;
    padding: 0 1.875rem 0 4.0625rem;
}
input.has-error {
    -webkit-box-shadow: inset -3px -3px 0px #c21429, inset 3px 3px 0px #c21429;
            box-shadow: inset -3px -3px 0px #c21429, inset 3px 3px 0px #c21429;
}
@media only screen and (max-width: 24.9375em) {
.support-box input {
      height: 50px;
      height: 3.125rem;
}
.support-box input.has-icon {
        padding: 0 15px 0 50px;
        padding: 0 0.9375rem 0 3.125rem;
}
}

.fade-spinner-enter-active,
.fade-spinner-leave-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.fade-spinner-enter,
.fade-spinner-leave-active {
  opacity: 0;
  will-change: opacity;
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #c21429;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  will-change: background-color;
}
.button:hover, .button:focus {
    background-color: #a61123;
}
.button[disabled="disabled"] {
    background-color: #d89393;
    cursor: default;
    pointer-events: none;
}
.support-form .button {
    width: 100%;
    padding: 22px 25px;
    padding: 1.375rem 1.5625rem;
}
.button--spinner {
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
  margin-left: -22px;
  margin-left: -1.375rem;
  margin-right: 6px;
  margin-right: 0.375rem;
  opacity: 1;
  -webkit-animation: loading-button-spinner-rotation .7s infinite linear;
          animation: loading-button-spinner-rotation .7s infinite linear;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top-color: #efefef;
  border-radius: 100%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}
.support-form .button--spinner {
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    margin: -6px 10px -6px -40px;
    margin: -0.375rem 0.625rem -0.375rem -2.5rem;
}
@-webkit-keyframes loading-button-spinner-rotation {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
}
}
@keyframes loading-button-spinner-rotation {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
}
}

.view-support {
  padding: 10px 10px 0;
  padding: 0.625rem 0.625rem 0;
  min-height: calc(100vh - 103px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 25em) {
.view-support {
      padding: 20px 20px 0;
      padding: 1.25rem 1.25rem 0;
}
}
.support-form {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 25em) {
.support-form {
      margin-bottom: 40px;
      margin-bottom: 2.5rem;
}
}

.flash-message {
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  line-height: 1.4;
  border-radius: 3px;
}
@media only screen and (min-width: 25em) {
.flash-message {
      padding: 20px;
      padding: 1.25rem;
}
}
.flash-message__error {
  color: #fff;
  background-color: #cb4848;
}

.form-row {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.form-row:last-child {
    margin-bottom: 0;
}

.support-box {
  padding: 20px;
  padding: 1.25rem;
  width: 100%;
  max-width: 440px;
  max-width: 27.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}
@media only screen and (min-width: 25em) {
.support-box {
      padding: 40px;
      padding: 2.5rem;
}
}
.support-box--title {
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
}
@media only screen and (min-width: 25em) {
.support-box--title {
      margin-bottom: 30px;
      margin-bottom: 1.875rem;
}
}
.support-box--footer {
  color: #999999;
  text-align: center;
}
.support-box--footer p {
    margin: 0 0 1em;
}
.support-box--footer p:last-child {
      margin-bottom: 0;
}
.animate-shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards 1;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@-webkit-keyframes shake {
10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
}
20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
}
40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
}
}
@keyframes shake {
10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
}
20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
}
40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
}
}

form {
  margin: 0;
  padding: 0;
}

.input-error-message {
  display: none;
  padding-top: 10px;
  padding-top: 0.625rem;
  color: #c21429;
}
.input-error + .input-error-message {
    display: block;
}

.view-lost-password-requested .support-box {
  padding: 30px 20px;
  padding: 1.875rem 1.25rem;
}
.view-lost-password-requested .support-box--title {
  line-height: 1.4;
  text-align: center;
}
.view-lost-password-requested .support-box--title span {
    white-space: nowrap;
}
.view-lost-password-requested .support-box--content {
  margin: 30px 0 35px;
  margin: 1.875rem 0 2.1875rem;
  line-height: 1.4;
  text-align: center;
}

.overview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 -10px;
  margin: 0 0 0 -0.625rem;
}
.overview-container__groups .card__group {
  width: 50%;
}
@media only screen and (min-width: 40em) {
.overview-container__groups .card__group {
      width: 25%;
}
}
@media only screen and (min-width: 80em) {
.overview-container__groups .card__group {
      width: 12.5%;
}
}
.overview-container__misc .card {
  width: 100%;
  padding-top: 20px;
  padding-top: 1.25rem;
}
@media only screen and (min-width: 40em) {
.overview-container__misc .card {
      width: 50%;
}
}

.group-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.group-footer--item {
  width: 50%;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: left;
}
.group-footer--item:last-of-type {
    text-align: right;
}
@media only screen and (min-width: 30em) and (max-width: 39.9375em) {
.group-footer--item, .group-footer--item:last-of-type {
      text-align: center;
}
}
@media only screen and (min-width: 56.25em) and (max-width: 79.9375em) {
.group-footer--item, .group-footer--item:last-of-type {
      text-align: center;
}
}

.group-teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
}
@media only screen and (min-width: 30em) and (max-width: 39.9375em) {
.group-teams {
      padding-bottom: 15px;
      padding-bottom: 0.9375rem;
}
}
@media only screen and (min-width: 56.25em) and (max-width: 79.9375em) {
.group-teams {
      padding-bottom: 15px;
      padding-bottom: 0.9375rem;
}
}
.group-teams--team {
  width: 20%;
}
.group-teams--image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.2);
}

@charset "UTF-8";
.playoff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px -1px;
  margin: 0 -0.9375rem -0.0625rem;
  padding-left: 15px;
  padding-left: 0.9375rem;
  color: #000;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.playoff:hover, .playoff:focus {
    color: #000;
    background-color: #f5f5f5;
    text-decoration: none;
}
.playoff--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  width: 3.75rem;
  padding: 0 15px 0 0;
  padding: 0 0.9375rem 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.playoff--icon img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 50px;
}
.playoff--icon--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  font-size: 1.3125rem;
  color: #fff;
  background-color: #c21429;
  border-radius: 50%;
}
.playoff--content {
  position: relative;
  padding: 16px 60px 14px 0;
  padding: 1rem 3.75rem 0.875rem 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid #f5f5f5;
}
.playoff:last-of-type .playoff--content {
    border-bottom: none;
}
.playoff--content:after {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #757575;
    display: inline-block;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    content: "\E900";
    font-size: 28px;
    font-size: 1.75rem;
    -webkit-transform: rotate(-90deg) translateX(50%);
            transform: rotate(-90deg) translateX(50%);
}
.playoff--title {
  padding: 0 0 3px;
  padding: 0 0 0.1875rem;
}
.playoff--period {
  font-size: 14px;
  font-size: 0.875rem;
  color: #757575;
}

.top-ten--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px -1px;
  margin: 0 -0.9375rem -0.0625rem;
  padding: 9px 15px 6px;
  padding: 0.5625rem 0.9375rem 0.375rem;
  border-bottom: 1px solid #f5f5f5;
  cursor: default;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.top-ten--row:last-of-type {
    border-bottom: none;
}
.top-ten--row:hover {
    background-color: #f5f5f5;
}
.top-ten--place {
  width: 30px;
  text-align: right;
}
.top-ten--name {
  width: 100%;
  padding: 0 10px;
  padding: 0 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.top-ten--points {
  width: 50px;
  width: 3.125rem;
  text-align: right;
}

.upcoming--row {
  margin: 0 -15px -1px;
  margin: 0 -0.9375rem -0.0625rem;
  padding: 16px 15px 7px;
  padding: 1rem 0.9375rem 0.4375rem;
  border-bottom: 1px solid #f5f5f5;
  cursor: default;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.upcoming--row:last-of-type {
    border-bottom: 0;
}
.upcoming--row:hover {
    background-color: #f5f5f5;
}
.upcoming--row__focused, .upcoming--row__focused:hover {
  background-color: #fff6bf;
}
.upcoming--row__voting-closed, .upcoming--row__voting-closed:hover {
  background-color: #dde9f5;
  border-bottom-color: #d9d9d9;
}
.upcoming--row__voting-closed + .upcoming--row__voting-closed {
  margin-top: 1px;
}

.view-reset-password-complete .support-box {
  padding: 30px 20px;
  padding: 1.875rem 1.25rem;
}
.view-reset-password-complete .support-box--title {
  line-height: 1.4;
  text-align: center;
}
.view-reset-password-complete .support-box--title span {
    white-space: nowrap;
}
@media only screen and (max-width: 25em) {
.view-reset-password-complete .support-box--title {
      font-size: 20px;
      font-size: 1.25rem;
}
}
.view-reset-password-complete .support-box--content {
  margin: 30px 0 35px;
  margin: 1.875rem 0 2.1875rem;
  line-height: 1.4;
  text-align: center;
}

.view-signed-up .support-box {
  padding: 30px 20px;
  padding: 1.875rem 1.25rem;
}
.view-signed-up .support-box--title {
  line-height: 1.4;
  text-align: center;
}
.view-signed-up .support-box--title span {
    white-space: nowrap;
}

.loader-fade-enter-active[data-v-c517480c], .loader-fade-leave-active[data-v-c517480c] {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.loader-fade-enter[data-v-c517480c], .loader-fade-leave-to[data-v-c517480c] {
  opacity: 0;
}
.verification-container[data-v-c517480c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.status-svg[data-v-c517480c] {
  width: 200px;
  height: 200px;
}

.view-verify-email .support-box--title {
  text-align: center;
}
.view-verify-email .flash-message {
  margin-top: -20px;
  margin-top: -1.25rem;
  text-align: center;
  color: #000;
  background-color: transparent;
}

.bummer-svg[data-v-e3c9b73a] {
  border-radius: 50%;
  display: block;
  stroke-width: 2px;
  stroke: #fff;
  stroke-miterlimit: 10;
  -webkit-box-shadow: inset 0 0 0 #c21429;
          box-shadow: inset 0 0 0 #c21429;
  -webkit-animation: bummer-fill .4s ease-in-out .4s forwards, bummer-scale .3s ease-in-out .9s both;
          animation: bummer-fill .4s ease-in-out .4s forwards, bummer-scale .3s ease-in-out .9s both;
  border: 4px solid #d89393;
}
.bummer-svg--circle[data-v-e3c9b73a] {
  stroke-dasharray: 166px;
  stroke-dashoffset: 166px;
  stroke-width: 2px;
  stroke-miterlimit: 10;
  stroke: #c21429;
  fill: none;
  -webkit-animation: bummer-stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: bummer-stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.bummer-svg--cross[data-v-e3c9b73a] {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 48px;
  stroke-dashoffset: 48px;
  -webkit-animation: bummer-stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
          animation: bummer-stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
.bummer-svg--cross[data-v-e3c9b73a] {
  stroke: #fff;
}
@-webkit-keyframes bummer-stroke {
100% {
    stroke-dashoffset: 0;
}
}
@keyframes bummer-stroke {
100% {
    stroke-dashoffset: 0;
}
}
@-webkit-keyframes bummer-scale {
0%, 100% {
    -webkit-transform: none;
            transform: none;
}
50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
}
}
@keyframes bummer-scale {
0%, 100% {
    -webkit-transform: none;
            transform: none;
}
50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
}
}
@-webkit-keyframes bummer-fill {
100% {
    -webkit-box-shadow: inset 0 0 0 200px #c21429;
            box-shadow: inset 0 0 0 200px #c21429;
}
}
@keyframes bummer-fill {
100% {
    -webkit-box-shadow: inset 0 0 0 200px #c21429;
            box-shadow: inset 0 0 0 200px #c21429;
}
}

.checkmark-svg[data-v-e2f83d40] {
  border-radius: 50%;
  display: block;
  stroke-width: 2px;
  stroke: #fff;
  stroke-miterlimit: 10;
  -webkit-box-shadow: inset 0 0 0 #7ac142;
          box-shadow: inset 0 0 0 #7ac142;
  -webkit-animation: checkmark-fill .4s ease-in-out .4s forwards, checkmark-scale .3s ease-in-out .9s both;
          animation: checkmark-fill .4s ease-in-out .4s forwards, checkmark-scale .3s ease-in-out .9s both;
  border: 4px solid #69a937;
}
.checkmark-svg--circle[data-v-e2f83d40] {
  stroke-dasharray: 166px;
  stroke-dashoffset: 166px;
  stroke-width: 2px;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  -webkit-animation: checkmark-stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: checkmark-stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark-svg--check[data-v-e2f83d40] {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 48px;
  stroke-dashoffset: 48px;
  -webkit-animation: checkmark-stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
          animation: checkmark-stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@-webkit-keyframes checkmark-stroke {
100% {
    stroke-dashoffset: 0;
}
}
@keyframes checkmark-stroke {
100% {
    stroke-dashoffset: 0;
}
}
@-webkit-keyframes checkmark-scale {
0%, 100% {
    -webkit-transform: none;
            transform: none;
}
50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
}
}
@keyframes checkmark-scale {
0%, 100% {
    -webkit-transform: none;
            transform: none;
}
50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
}
}
@-webkit-keyframes checkmark-fill {
100% {
    -webkit-box-shadow: inset 0 0 0 200px #7ac142;
            box-shadow: inset 0 0 0 200px #7ac142;
}
}
@keyframes checkmark-fill {
100% {
    -webkit-box-shadow: inset 0 0 0 200px #7ac142;
            box-shadow: inset 0 0 0 200px #7ac142;
}
}

.group-table {
  width: 100%;
  border-spacing: 0;
}
.group-table--row .group-table--cell:first-child {
  padding-left: 15px;
  padding-left: 0.9375rem;
}
.group-table--row .group-table--cell:last-child {
  padding-right: 15px;
  padding-right: 0.9375rem;
}
.group-table--row__body .group-table--cell {
  border-bottom: 1px solid #f5f5f5;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.group-table--row__body:last-of-type .group-table--cell {
  border-bottom: none;
}
.group-table--row__body:hover .group-table--cell {
  background-color: #f5f5f5;
}
.group-table--cell {
  padding: 5px;
  padding: 0.3125rem;
}
.group-table--cell__header {
  text-align: right;
  cursor: help;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  padding-top: 0;
  padding-top: 0;
}
.group-table--cell__header:first-child {
    padding-left: 15px;
    padding-left: 0.9375rem;
    text-align: left;
    cursor: default;
}
.group-table--cell__header:last-child {
    padding-right: 15px;
    padding-right: 0.9375rem;
}
.group-table--cell__games,
.group-table--cell__diff,
.group-table--cell__points {
  text-align: right;
}
.group-table--cell__team {
  width: 100%;
}
.group-table--cell__games,
.group-table--cell__diff {
  min-width: 40px;
  min-width: 2.5rem;
}
.group-table--cell__points {
  min-width: 50px;
  min-width: 3.125rem;
  font-weight: 600;
}
.group-table--team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.group-table--team--image-wrapper {
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
}
.group-table--team--image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.group-table--team--name {
  padding-left: 10px;
  padding-left: 0.625rem;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.woff2?kqvkvd") format("woff2"), url("../fonts/icomoon/icomoon.ttf?kqvkvd") format("truetype"), url("../fonts/icomoon/icomoon.woff?kqvkvd") format("woff"), url("../fonts/icomoon/icomoon.svg?kqvkvd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
  margin-right: 0.3125rem;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    width: 1em;
    content: "";
}
.input-icon {
  margin-right: 0;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.icon-menu:before {
  content: "\E905";
}
.icon-user:before {
  content: "\E902";
}
.icon-mail:before {
  content: "\E904";
}
.icon-lock:before {
  content: "\E903";
}
.icon-angle-down:before {
  content: "\E900";
}
.icon-soccer-ball:before {
  content: "\E901";
}
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, .wrapper {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  background-color: #efefef;
}
.wrapper--bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent no-repeat 50% 50%;
  background-size: cover;
  z-index: -1;
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity 0.35s linear;
  transition: opacity 0.35s linear;
}
.route-login .wrapper--bg.loaded,
  .route-signup .wrapper--bg.loaded,
  .route-signed-up .wrapper--bg.loaded,
  .route-lost-password .wrapper--bg.loaded,
  .route-lost-password-requested .wrapper--bg.loaded,
  .route-reset-password .wrapper--bg.loaded,
  .route-reset-password-complete .wrapper--bg.loaded,
  .route-verify-email .wrapper--bg.loaded,
  .route-request-verification .wrapper--bg.loaded {
    opacity: 1;
}
.content {
  position: relative;
  padding-top: 44px;
  padding-top: 2.75rem;
  padding-bottom: 59px;
  padding-bottom: 3.6875rem;
  min-height: 100vh;
}
.verification-warning {
  padding: 20px;
  padding: 1.25rem;
  color: #333;
  background-color: #ddd;
  text-align: center;
}
.route-request-verification .verification-warning {
    display: none;
}
a {
  color: #c21429;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.page-title {
  margin: 30px 0 10px;
  margin: 1.875rem 0 0.625rem;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-width: 25em) {
.page-title {
      margin-bottom: 20px;
      margin-bottom: 1.25rem;
      font-size: 28px;
      font-size: 1.75rem;
}
}
.page-title--divider {
  color: #c21429;
}
.fade-enter {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fade-enter-active {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.fade-leave {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fade-leave-active {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
}
.app-pre-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pre-load-spinner {
  width: 100px;
  width: 6.25rem;
  height: 100px;
  height: 6.25rem;
  -webkit-animation: pre-loading-spinner-rotation .7s infinite linear;
          animation: pre-loading-spinner-rotation .7s infinite linear;
  border: 10px solid rgba(0, 0, 0, 0.03);
  border-top-color: #d1d1d1;
  border-radius: 100%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}
@-webkit-keyframes pre-loading-spinner-rotation {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
}
}
@keyframes pre-loading-spinner-rotation {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
}
}

.container.header--container {
  padding: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c21429;
  z-index: 100;
}
.header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header--title {
  padding: 10px 30px 10px 10px;
  padding: 0.625rem 1.875rem 0.625rem 0.625rem;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header--title a {
    color: #fff;
    text-decoration: none;
}
@media only screen and (min-width: 48.0625em) {
.header--title {
      -webkit-box-flex: unset;
          -ms-flex-positive: unset;
              flex-grow: unset;
      width: auto;
}
}
.header--title--icon {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  padding: 0 0.625rem;
}

.main-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-menu--items--wrapper {
  position: absolute;
  top: 100%;
  max-height: calc(100vh - 44px);
  right: 0;
  width: 100%;
  overflow-y: scroll;
}
.main-menu--items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu--item {
  display: block;
}
.main-menu--item__user {
  position: relative;
  padding-top: 17px;
  padding-top: 1.0625rem;
  font-weight: 600;
  color: #fff;
  background-color: #c21429;
  text-align: center;
}
.main-menu--user--divider {
  margin: 0 16px;
  margin: 0 1rem;
  height: 1px;
  background-color: #fff;
}
.main-menu--user--name {
  position: relative;
  top: -9px;
  display: inline-block;
  margin: 0 auto;
  padding: 0 20px;
  padding: 0 1.25rem;
  background-color: #c21429;
}
.main-menu--link, .main-menu--toggle {
  /*display: inline-block;*/
  display: block;
  padding: 14px 16px 12px;
  padding: 0.875rem 1rem 0.75rem;
  color: #fff;
  background-color: #c21429;
  text-decoration: none;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.main-menu--link:hover, .main-menu--toggle:hover {
    background-color: #cb4848;
    text-decoration: none;
}
.main-menu--link.router-link-active:not(.router-not-ready), .main-menu--toggle.router-link-active:not(.router-not-ready) {
    background-color: #a61123;
}
.main-menu--toggle {
  padding: 14px 16px 14px;
  padding: 0.875rem 1rem 0.875rem;
}
.main-menu--toggle i {
    margin-right: 0;
}
.main-menu__open .main-menu--toggle {
    background-color: #cb4848;
}
@media only screen and (min-width: 48.0625em) {
.main-menu--items--wrapper {
    position: static;
    top: auto;
    right: 0;
    width: auto;
    overflow-y: auto;
    max-height: none;
}
.main-menu--toggle {
    display: none;
}
.main-menu--items {
    display: block !important;
}
.main-menu--item {
    display: inline-block;
}
.main-menu--item__mobile {
    display: none;
}
}

.user-menu {
  display: none;
  position: relative;
}
@media only screen and (min-width: 48.0625em) {
.user-menu {
      display: block;
}
}
.user-menu--dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 170px;
  min-width: 10.625rem;
  z-index: 1000;
}
.user-menu--dropdown--toggle {
  display: inline-block;
  padding: 13px 10px 12px;
  padding: 0.8125rem 0.625rem 0.75rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.user-menu--dropdown--toggle:hover {
    background-color: #cb4848;
    text-decoration: none;
}
.user-menu--dropdown--toggle i {
    margin-right: 0;
}
.user-menu__open .user-menu--dropdown--toggle {
    background-color: #cb4848;
}
.user-menu--items {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  padding: 0.625rem 0;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.user-menu--link {
  display: block;
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.user-menu--link:hover, .user-menu--link:focus {
    background-color: #f7f7f7;
    text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  padding: 0.625rem;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}
@media only screen and (min-width: 31.25em) {
.footer {
      text-align: center;
}
}
.footer--link:hover {
  text-decoration: underline;
}
.made-with-love {
  position: absolute;
  top: 14px;
  top: 0.875rem;
  right: 20px;
  right: 1.25rem;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  margin-left: 0.625rem;
}
.made-with-love .heart {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    line-height: 0;
    color: #e25555;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
}
.made-with-love .twitter-handle {
    color: #1F98C7;
}

/*# sourceMappingURL=app.css.map*/