@font-face {
  font-family: $icon-font-family;
  src:
    url('#{$icon-font-path}/#{$icon-font-filename}.woff2?#{$icon-font-key}') format('woff2'),
    url('#{$icon-font-path}/#{$icon-font-filename}.ttf?#{$icon-font-key}') format('truetype'),
    url('#{$icon-font-path}/#{$icon-font-filename}.woff?#{$icon-font-key}') format('woff'),
    url('#{$icon-font-path}/#{$icon-font-filename}.svg?#{$icon-font-key}##{$icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon();
  @include rem(margin-right, 5px);
  transform: translateY(1px);
}

.input-icon {
  margin-right: 0;
  transform: translateY(-1px);
}

// Icon classes

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-soccer-ball {
  &:before {
    content: $icon-soccer-ball;
  }
}
