@import './mixins/rem';
@import './mixins/responsive';

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin icon($icon: '') {
  display: inline-block;
  font-family: $icon-font-family !important; // use !important to prevent issues with browser extensions that change fonts
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  @include font-smoothing;

  &:before {
    display: inline-block;
    width: 1em;
    @if $icon {
      content: $icon;
    }
  }
}

@mixin icon-direct($icon: '') {
  display: inline-block;
  font-family: $icon-font-family !important; // use !important to prevent issues with browser extensions that change fonts
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  @include font-smoothing;
  width: 1em;
  @if $icon {
    content: $icon;
  }
}

@mixin clearfix () {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin visuallyhidden() {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@mixin placeholder() {

  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }
}

@mixin fixIE10Plus() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin fixIE11Only() {
  _:-ms-fullscreen,
  :root & {
    @content;
  }
}
