// ---------------------------------------------------------------------------------------------------------------------
// --- Farbdefinitionen aus Style-Guide --------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

$rot: #c21429;
$rot2: #a61123;
$rot3: #cb4848;
$rot4: #d89393;
$green: #7ac142;

$clr-input-text: #686868;
$clr-input-background: #e6e6e6;

// ---------------------------------------------------------------------------------------------------------------------
// --- Icons -----------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
$icon-font-path: '../fonts/icomoon';
$icon-font-filename: 'icomoon';
$icon-font-family: 'icomoon';
$icon-font-key: 'kqvkvd';

$icon-menu: "\e905";
$icon-user: "\e902";
$icon-mail: "\e904";
$icon-lock: "\e903";
$icon-angle-down: "\e900";
$icon-soccer-ball: "\e901";

// ---------------------------------------------------------------------------------------------------------------------
// --- Z-Index Konfiguration -------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

$zindex-bg-image: -1;
$zindex-header: 100;
$zindex-dropdown: 1000;
$zindex-cookiebar: 2000;
$zindex-notifications: 5000;

// ---------------------------------------------------------------------------------------------------------------------
// --- Widths ----------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
$breakpoint-display-full-menu: 769px;

// ---------------------------------------------------------------------------------------------------------------------
// --- Schriftarten ----------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
$font-family-fira-sans: 'Fira Sans', sans-serif;

// ---------------------------------------------------------------------------------------------------------------------
// --- Komponenten-Konfiguration ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

// Body
$base-font-size: 100%;
$body-font-family: $font-family-fira-sans;
$body-font-size: 16px;

// Links
$link-color: $rot;
